  .m{
    background-color: #ee337e;
}
 .l{
    background-color: #f05689 ;
}
  .k1{
    background-color: #f06997 ;
}
   .k{
    background-color:#f27994 ;
} 
  .j{
     background-color:#f38bb4 ;
}
 .i{
    background-color:#f49ec2 ;
}
 .h{
    background-color:#f49ecc ;
}
.g{
    background-color:#1bb585 ;
}
  .f{
    background-color:#8dc9ee ;
}
  .e{
    background-color:#72c1ec ;
}
 .d1{
    background-color:#59b6e6 ;
}
 .d{
    background-color:#34a8df ;
 }
  .c{
    background-color:#2e9ed9 ;
 }
 .b{
    background-color:#2792d0 ;
}
 .a{
    background-color:#2e85c6 ;

 }

body{
  background-color: #c0bbb6;
}


h1{
  background-color:#e0e1e4 ;
}



